<!-- Error page when you visited the wrong URL or did something very very wrong :O-->
{% extends 'base.jinja' %}

{% block content %} 
   <h1>404 Error!</h1>
   <p><a href="{{ url_for('index') }}"> Return Home</a></p>
{% endblock %}
